fastapi==0.116.1
uvicorn==0.36.0
streamlit==1.48.0
langchain==0.3.27
langgraph==0.6.5
langchain-openai==0.3.30
pandas==2.3.2
pydantic==2.11.7
matplotlib==3.10.5
python-multipart==0.0.20
httpx==0.28.1
